*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.contenitor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header button{
    border: 0;
    background-color: white;
    font-size: 15px;
    padding: 20px;
    color:#a3a3a3 ;
    }



.menu2{
    margin-right: 15px;
    display: flex;
    gap:10px;
    align-items: center;

}

.menu1{
    margin-left: 15px ;
    display: flex;
    gap:10px;
    align-items: center;
}

.button-blue{
    background-color: #0061ff;
    padding: 8px 15px;
    color: white;
}

.button-blue:hover{
    opacity:0.8 ;
}

.section1{
background-color: 
#b4d0e7;
height: 600px;
}

.section1 h1{
    font-size: 70px;
    text-align:left;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 20px;

}
.contenitore2{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.contenitore2 button{
    display: block;
    border: 0;
}

.parte1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 15px;
    align-items: flex-start;
}
.button-nocolor{
    background-color:#b4d0e7 ;
}

.parte1 svg{
    height: 40px;
    text-align: left;
}
.section2{
    padding-top: 140px;
    width: 70%;
    margin: 0 auto;
}
.title h2{
    font-size: 40px;
    padding-bottom: 30px;
}

.svg1{
    fill:#0061ff ;

}
.svg2{
    fill: 
    #c3c3c3;
}
.title span{
    padding-right: 40px;
}
.section3{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;
    border-color:1px solid #c3c3c3;
}

.section3 ul li{
    list-style-type: none;
    margin-bottom: 30px;
}
.spn-grey{
    color: #d0d0d3;
}
.table2{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.table2 span a {
    color:#0061ff ;
}
.table2 hr{
    color: #d0d0d3 ;
    width: 40px;
}
.table1{
    flex-basis: calc(100%/3);
}
.table1 h4{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
.svg-blue svg{
    fill: #4471ff;
}
.team h4 {
    text-align: center;
    padding: 30px;   
}
.section4{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.team{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.section4 h5{
    margin-top: 30px;
}
.team p{
    margin-top: 30px;
}

.section5{
    padding-top: 100px;
    width: 70%;
    margin: 0 auto;
    display: flex;

}

.text-image{
    padding: 50px;
    width: 450px;
    line-height:150%;
}

.text-image h2{
  padding-bottom:20px;
}

.text-image button{
    padding: 10px;
    margin-top: 30px;

}

.text-image button:hover{
    opacity: 0.8;
}
.section6{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.div6{
    flex-basis: calc(100%/3);
    padding: 40px;
}

.div6 figure img{
    width:100%;
}

.title6 h1{
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}

.div6 h3{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
}

.div6 p{
    line-height:140%;
}

.section7 a{
    color:#0061ff;
    margin-left:40px;
}

.section7{
    width: 70%;
    margin: 0 auto;
}

.section7 h1{
    text-align: left;
}

main .partners{
    display: flex;
    margin-top: 100px;
}
main .partners>div{
    width: calc(100%/3);
   aspect-ratio: 1;
}


.partners-right > div{
    aspect-ratio: 1;
    flex-basis: calc(100%/2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-left > div{
    aspect-ratio: 1;
    flex-basis: calc(100%/2);
    display: flex;
    align-items: center;
    justify-content: center;

}

.partners-right{
    display: flex;
    flex-wrap: wrap;
}

.partners-left{
    display: flex;
    flex-wrap: wrap;
}

.partners-left img{
    width: 150px;
    filter: invert(1)
}
.partners-right img{
    width: 150px;
    filter: invert(1)
}
.color-green{
    background-color:#a2d39b ;
}
.color-wine{
    background-color:#61082b ;
}
.color-lightblue{
    background-color: #0093ce;
}
.color-orange{
    background-color: #ff1c1c;
}
.color-red{
    background-color:#d5001f ;
}
.color-sky{
    background-color:#b4d0e7 ;
}

.color-blue{
    background-color: 
    #0d2481;
}
.color-yellow{
    background-color: #ffd830;
}

.partners-center figure img{
    height: 80px;
}
.partners-center{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    overflow: auto;

}
.partners-center hr{
    width: 20%;
    opacity: 0.5;
}
.partners-center blockquote{
    color: grey;
}
.partners-center cite{
    color: grey;
    font-size: normal;
}
.section8{
    background-color:
    #b4d0e7 ;
    height: 400px;
    margin-top: -50px;
}
.free-trial{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.free-trial h1{
    font-size: 40px;
    width: 600px;
    text-align: left;
    margin-top: 150px;
    color: #61082b;
}
.free-trial button{
    font-size: 15px;
    padding: 5px;
    margin-top: 150px;
    border: none;
}
.request1{
    display: flex;
    gap: 200px;
    justify-content: center;
    padding: 30px;
}
.request{
    margin:0 auto;
    width: 60%;
    margin-bottom: 100px;
}
.request h1{
    font-size: 40px;
    text-align: left;
}
footer{
    background-color: black;
    color: white;
    padding: 100px;
    
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 70%;
    margin: 0 auto;

}
.footer-list ul li{
    list-style-type: none;
    line-height: 30px;
    font-size: 10px;
}
.footer-list h4{
    margin-bottom: 20px;
    font-size: 20px;
}

footer hr{
    margin: 80px;
    width: 10%;
    margin-left: 250px;
    opacity: 0.5;
}
footer svg{
    fill: white;
    text-align: center;
}
.footer-icon{
    width: 62%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}
.footer-icon span{
    font-size: 15px;
    
}