*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.contenitor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header button{
    border: 0;
    background-color: white;
    font-size: 15px;
    }

.contenitor-header .menu1 .menu2{
    display: flex;
    align-items: center;
    
}
header{
    padding: 20px;
}
.menu2{
    margin-right: 15px;
}

.menu1{
    margin-left: 15px ;
}